__pycache__
unittest/svgparse/svgparse.py
unittest/svgparse/data/bamboo-0fg-m-p-alt.tablet
unittest/svgparse/data/bamboo-0fg-s-p-alt.tablet
unittest/svgparse/data/bamboo-0fg-s-p.tablet
unittest/svgparse/data/bamboo-2fg-fun-m-pt.tablet
unittest/svgparse/data/bamboo-2fg-fun-s-pt.tablet
unittest/svgparse/data/bamboo-2fg-m-p.tablet
unittest/svgparse/data/bamboo-2fg-s-p.tablet
unittest/svgparse/data/bamboo-2fg-s-pt.tablet
unittest/svgparse/data/bamboo-2fg-s-t.tablet
unittest/svgparse/data/bamboo-4fg-fun-m.tablet
unittest/svgparse/data/bamboo-4fg-fun-s.tablet
unittest/svgparse/data/bamboo-4fg-s-pt.tablet
unittest/svgparse/data/bamboo-4fg-s-t.tablet
unittest/svgparse/data/bamboo-4fg-se-m-pt.tablet
unittest/svgparse/data/bamboo-4fg-se-s-pt.tablet
unittest/svgparse/data/bamboo-16fg-m-pt.tablet
unittest/svgparse/data/bamboo-16fg-s-p.tablet
unittest/svgparse/data/bamboo-16fg-s-pt.tablet
unittest/svgparse/data/bamboo-16fg-s-t.tablet
unittest/svgparse/data/bamboo-one-m-p.tablet
unittest/svgparse/data/bamboo-one.tablet
unittest/svgparse/data/bamboo-pad-wireless.tablet
unittest/svgparse/data/bamboo-pad.tablet
unittest/svgparse/data/chuwi-minibookx.tablet
unittest/svgparse/data/cintiq-12wx.tablet
unittest/svgparse/data/cintiq-13hd.tablet
unittest/svgparse/data/cintiq-13hdt.tablet
unittest/svgparse/data/cintiq-16-2.tablet
unittest/svgparse/data/cintiq-16.tablet
unittest/svgparse/data/cintiq-20wsx.tablet
unittest/svgparse/data/cintiq-21ux.tablet
unittest/svgparse/data/cintiq-21ux2.tablet
unittest/svgparse/data/cintiq-22.tablet
unittest/svgparse/data/cintiq-22hd.tablet
unittest/svgparse/data/cintiq-22hdt.tablet
unittest/svgparse/data/cintiq-24hd-touch.tablet
unittest/svgparse/data/cintiq-24hd.tablet
unittest/svgparse/data/cintiq-27hd.tablet
unittest/svgparse/data/cintiq-27hdt.tablet
unittest/svgparse/data/cintiq-companion-2.tablet
unittest/svgparse/data/cintiq-companion-hybrid.tablet
unittest/svgparse/data/cintiq-companion.tablet
unittest/svgparse/data/cintiq-pro-13.tablet
unittest/svgparse/data/cintiq-pro-16-2.tablet
unittest/svgparse/data/cintiq-pro-16.tablet
unittest/svgparse/data/cintiq-pro-24-p.tablet
unittest/svgparse/data/cintiq-pro-24-pt.tablet
unittest/svgparse/data/cintiq-pro-27.tablet
unittest/svgparse/data/cintiq-pro-32.tablet
unittest/svgparse/data/dell-canvas-27.tablet
unittest/svgparse/data/dtf-720.tablet
unittest/svgparse/data/dth-1152.tablet
unittest/svgparse/data/dth-2242.tablet
unittest/svgparse/data/dth-2452.tablet
unittest/svgparse/data/dti-520.tablet
unittest/svgparse/data/dtk-1651.tablet
unittest/svgparse/data/dtk-1660e-2.tablet
unittest/svgparse/data/dtk-1660e.tablet
unittest/svgparse/data/dtk-2241.tablet
unittest/svgparse/data/dtk-2451.tablet
unittest/svgparse/data/dtu-1031.tablet
unittest/svgparse/data/dtu-1031x.tablet
unittest/svgparse/data/dtu-1141.tablet
unittest/svgparse/data/dtu-1141b.tablet
unittest/svgparse/data/dtu-1631.tablet
unittest/svgparse/data/dtu-1931.tablet
unittest/svgparse/data/dtu-2231.tablet
unittest/svgparse/data/ek-remote.tablet
unittest/svgparse/data/elan-2a70.tablet
unittest/svgparse/data/elan-2ad9.tablet
unittest/svgparse/data/elan-2bb3.tablet
unittest/svgparse/data/elan-2c1b.tablet
unittest/svgparse/data/elan-2d55.tablet
unittest/svgparse/data/elan-2fc2.tablet
unittest/svgparse/data/elan-22e2.tablet
unittest/svgparse/data/elan-24d8.tablet
unittest/svgparse/data/elan-24db.tablet
unittest/svgparse/data/elan-29a1.tablet
unittest/svgparse/data/elan-29b6.tablet
unittest/svgparse/data/elan-262b.tablet
unittest/svgparse/data/elan-264c.tablet
unittest/svgparse/data/elan-0732.tablet
unittest/svgparse/data/elan-2072.tablet
unittest/svgparse/data/elan-2513.tablet
unittest/svgparse/data/elan-2514-alt.tablet
unittest/svgparse/data/elan-2514-alt2.tablet
unittest/svgparse/data/elan-2514.tablet
unittest/svgparse/data/elan-2537.tablet
unittest/svgparse/data/elan-2627.tablet
unittest/svgparse/data/elan-2628.tablet
unittest/svgparse/data/elan-5515.tablet
unittest/svgparse/data/gaomon-s620.tablet
unittest/svgparse/data/generic.tablet
unittest/svgparse/data/graphire-usb.tablet
unittest/svgparse/data/graphire-wireless-8x6.tablet
unittest/svgparse/data/graphire2-4x5.tablet
unittest/svgparse/data/graphire2-5x7.tablet
unittest/svgparse/data/graphire3-4x5.tablet
unittest/svgparse/data/graphire3-6x8.tablet
unittest/svgparse/data/graphire4-4x5.tablet
unittest/svgparse/data/graphire4-6x8.tablet
unittest/svgparse/data/hp-pro-tablet-408.tablet
unittest/svgparse/data/huion-420.tablet
unittest/svgparse/data/huion-h420.tablet
unittest/svgparse/data/huion-h610-pro.tablet
unittest/svgparse/data/huion-h640p.tablet
unittest/svgparse/data/huion-h950p.tablet
unittest/svgparse/data/huion-h1060p.tablet
unittest/svgparse/data/huion-hs611.tablet
unittest/svgparse/data/huion-kamvas-13.tablet
unittest/svgparse/data/huion-new-1060-plus.tablet
unittest/svgparse/data/intuos-4x5.tablet
unittest/svgparse/data/intuos-6x8.tablet
unittest/svgparse/data/intuos-9x12.tablet
unittest/svgparse/data/intuos-12x12.tablet
unittest/svgparse/data/intuos-12x18.tablet
unittest/svgparse/data/intuos-m-p.tablet
unittest/svgparse/data/intuos-m-p2.tablet
unittest/svgparse/data/intuos-m-p3-android.tablet
unittest/svgparse/data/intuos-m-p3-wl-android.tablet
unittest/svgparse/data/intuos-m-p3-wl.tablet
unittest/svgparse/data/intuos-m-p3.tablet
unittest/svgparse/data/intuos-m-pt.tablet
unittest/svgparse/data/intuos-m-pt2.tablet
unittest/svgparse/data/intuos-pro-2-l.tablet
unittest/svgparse/data/intuos-pro-2-m.tablet
unittest/svgparse/data/intuos-pro-2-s.tablet
unittest/svgparse/data/intuos-pro-l.tablet
unittest/svgparse/data/intuos-pro-m.tablet
unittest/svgparse/data/intuos-pro-s.tablet
unittest/svgparse/data/intuos-s-p.tablet
unittest/svgparse/data/intuos-s-p2.tablet
unittest/svgparse/data/intuos-s-p3-android.tablet
unittest/svgparse/data/intuos-s-p3-wl-android.tablet
unittest/svgparse/data/intuos-s-p3-wl.tablet
unittest/svgparse/data/intuos-s-p3.tablet
unittest/svgparse/data/intuos-s-pt.tablet
unittest/svgparse/data/intuos-s-pt2.tablet
unittest/svgparse/data/intuos2-4x5.tablet
unittest/svgparse/data/intuos2-6x8.tablet
unittest/svgparse/data/intuos2-9x12.tablet
unittest/svgparse/data/intuos2-12x12.tablet
unittest/svgparse/data/intuos2-12x18.tablet
unittest/svgparse/data/intuos3-4x5.tablet
unittest/svgparse/data/intuos3-4x6.tablet
unittest/svgparse/data/intuos3-6x8.tablet
unittest/svgparse/data/intuos3-6x11.tablet
unittest/svgparse/data/intuos3-9x12.tablet
unittest/svgparse/data/intuos3-12x12.tablet
unittest/svgparse/data/intuos3-12x19.tablet
unittest/svgparse/data/intuos4-4x6.tablet
unittest/svgparse/data/intuos4-6x9-wl.tablet
unittest/svgparse/data/intuos4-6x9.tablet
unittest/svgparse/data/intuos4-8x13.tablet
unittest/svgparse/data/intuos4-12x19.tablet
unittest/svgparse/data/intuos5-m.tablet
unittest/svgparse/data/intuos5-s.tablet
unittest/svgparse/data/intuos5-touch-l.tablet
unittest/svgparse/data/intuos5-touch-m.tablet
unittest/svgparse/data/intuos5-touch-s.tablet
unittest/svgparse/data/isdv4-2d1f-001e.tablet
unittest/svgparse/data/isdv4-2d1f-002c.tablet
unittest/svgparse/data/isdv4-2d1f-002e.tablet
unittest/svgparse/data/isdv4-2d1f-0066.tablet
unittest/svgparse/data/isdv4-2d1f-0095.tablet
unittest/svgparse/data/isdv4-2d1f-0114.tablet
unittest/svgparse/data/isdv4-2d1f-0136.tablet
unittest/svgparse/data/isdv4-2d1f-0163.tablet
unittest/svgparse/data/isdv4-2d1f-524c.tablet
unittest/svgparse/data/isdv4-10d.tablet
unittest/svgparse/data/isdv4-10e.tablet
unittest/svgparse/data/isdv4-10f.tablet
unittest/svgparse/data/isdv4-12c.tablet
unittest/svgparse/data/isdv4-016c.tablet
unittest/svgparse/data/isdv4-48c9.tablet
unittest/svgparse/data/isdv4-48ca.tablet
unittest/svgparse/data/isdv4-48ce.tablet
unittest/svgparse/data/isdv4-48d6.tablet
unittest/svgparse/data/isdv4-48eb.tablet
unittest/svgparse/data/isdv4-48ec.tablet
unittest/svgparse/data/isdv4-48ed.tablet
unittest/svgparse/data/isdv4-48ee.tablet
unittest/svgparse/data/isdv4-48f6.tablet
unittest/svgparse/data/isdv4-49a3.tablet
unittest/svgparse/data/isdv4-49c8.tablet
unittest/svgparse/data/isdv4-50a9.tablet
unittest/svgparse/data/isdv4-50b4.tablet
unittest/svgparse/data/isdv4-50b6.tablet
unittest/svgparse/data/isdv4-50b8.tablet
unittest/svgparse/data/isdv4-50db.tablet
unittest/svgparse/data/isdv4-50e9.tablet
unittest/svgparse/data/isdv4-50ef.tablet
unittest/svgparse/data/isdv4-50f1.tablet
unittest/svgparse/data/isdv4-50f8.tablet
unittest/svgparse/data/isdv4-50fd.tablet
unittest/svgparse/data/isdv4-50fe.tablet
unittest/svgparse/data/isdv4-51a0.tablet
unittest/svgparse/data/isdv4-51af.tablet
unittest/svgparse/data/isdv4-51b0.tablet
unittest/svgparse/data/isdv4-51b1.tablet
unittest/svgparse/data/isdv4-51b2.tablet
unittest/svgparse/data/isdv4-51b3.tablet
unittest/svgparse/data/isdv4-51b6.tablet
unittest/svgparse/data/isdv4-51b7.tablet
unittest/svgparse/data/isdv4-51b8.tablet
unittest/svgparse/data/isdv4-51b9.tablet
unittest/svgparse/data/isdv4-51ba.tablet
unittest/svgparse/data/isdv4-51bb.tablet
unittest/svgparse/data/isdv4-51bc.tablet
unittest/svgparse/data/isdv4-51bd.tablet
unittest/svgparse/data/isdv4-51be.tablet
unittest/svgparse/data/isdv4-51bf.tablet
unittest/svgparse/data/isdv4-51c4.tablet
unittest/svgparse/data/isdv4-51c7.tablet
unittest/svgparse/data/isdv4-51d0.tablet
unittest/svgparse/data/isdv4-51e2.tablet
unittest/svgparse/data/isdv4-51e9.tablet
unittest/svgparse/data/isdv4-51ef.tablet
unittest/svgparse/data/isdv4-51f5.tablet
unittest/svgparse/data/isdv4-51f6.tablet
unittest/svgparse/data/isdv4-51f9.tablet
unittest/svgparse/data/isdv4-52a2.tablet
unittest/svgparse/data/isdv4-52b0.tablet
unittest/svgparse/data/isdv4-52d3.tablet
unittest/svgparse/data/isdv4-52d5.tablet
unittest/svgparse/data/isdv4-90.tablet
unittest/svgparse/data/isdv4-93.tablet
unittest/svgparse/data/isdv4-100.tablet
unittest/svgparse/data/isdv4-101.tablet
unittest/svgparse/data/isdv4-104.tablet
unittest/svgparse/data/isdv4-114.tablet
unittest/svgparse/data/isdv4-116.tablet
unittest/svgparse/data/isdv4-117.tablet
unittest/svgparse/data/isdv4-121a.tablet
unittest/svgparse/data/isdv4-124.tablet
unittest/svgparse/data/isdv4-149.tablet
unittest/svgparse/data/isdv4-481a.tablet
unittest/svgparse/data/isdv4-484c.tablet
unittest/svgparse/data/isdv4-484d.tablet
unittest/svgparse/data/isdv4-484e.tablet
unittest/svgparse/data/isdv4-485e.tablet
unittest/svgparse/data/isdv4-486a.tablet
unittest/svgparse/data/isdv4-488f.tablet
unittest/svgparse/data/isdv4-490a.tablet
unittest/svgparse/data/isdv4-490b.tablet
unittest/svgparse/data/isdv4-495f.tablet
unittest/svgparse/data/isdv4-496c.tablet
unittest/svgparse/data/isdv4-502a.tablet
unittest/svgparse/data/isdv4-503e.tablet
unittest/svgparse/data/isdv4-503f.tablet
unittest/svgparse/data/isdv4-504a.tablet
unittest/svgparse/data/isdv4-504c.tablet
unittest/svgparse/data/isdv4-509d.tablet
unittest/svgparse/data/isdv4-509f.tablet
unittest/svgparse/data/isdv4-511a.tablet
unittest/svgparse/data/isdv4-513b.tablet
unittest/svgparse/data/isdv4-515a.tablet
unittest/svgparse/data/isdv4-516b.tablet
unittest/svgparse/data/isdv4-517d.tablet
unittest/svgparse/data/isdv4-521c.tablet
unittest/svgparse/data/isdv4-521f.tablet
unittest/svgparse/data/isdv4-523a.tablet
unittest/svgparse/data/isdv4-523e.tablet
unittest/svgparse/data/isdv4-526c.tablet
unittest/svgparse/data/isdv4-527a.tablet
unittest/svgparse/data/isdv4-527e.tablet
unittest/svgparse/data/isdv4-527f.tablet
unittest/svgparse/data/isdv4-528e.tablet
unittest/svgparse/data/isdv4-4004.tablet
unittest/svgparse/data/isdv4-4800.tablet
unittest/svgparse/data/isdv4-4804.tablet
unittest/svgparse/data/isdv4-4806.tablet
unittest/svgparse/data/isdv4-4807.tablet
unittest/svgparse/data/isdv4-4809.tablet
unittest/svgparse/data/isdv4-4814.tablet
unittest/svgparse/data/isdv4-4822.tablet
unittest/svgparse/data/isdv4-4824.tablet
unittest/svgparse/data/isdv4-4831.tablet
unittest/svgparse/data/isdv4-4834.tablet
unittest/svgparse/data/isdv4-4838.tablet
unittest/svgparse/data/isdv4-4841.tablet
unittest/svgparse/data/isdv4-4851.tablet
unittest/svgparse/data/isdv4-4865.tablet
unittest/svgparse/data/isdv4-4870.tablet
unittest/svgparse/data/isdv4-4875.tablet
unittest/svgparse/data/isdv4-4898.tablet
unittest/svgparse/data/isdv4-4957.tablet
unittest/svgparse/data/isdv4-4988.tablet
unittest/svgparse/data/isdv4-4995.tablet
unittest/svgparse/data/isdv4-5000.tablet
unittest/svgparse/data/isdv4-5002.tablet
unittest/svgparse/data/isdv4-5010.tablet
unittest/svgparse/data/isdv4-5013.tablet
unittest/svgparse/data/isdv4-5014.tablet
unittest/svgparse/data/isdv4-5019.tablet
unittest/svgparse/data/isdv4-5040.tablet
unittest/svgparse/data/isdv4-5044.tablet
unittest/svgparse/data/isdv4-5048.tablet
unittest/svgparse/data/isdv4-5072.tablet
unittest/svgparse/data/isdv4-5090.tablet
unittest/svgparse/data/isdv4-5093.tablet
unittest/svgparse/data/isdv4-5099.tablet
unittest/svgparse/data/isdv4-5110.tablet
unittest/svgparse/data/isdv4-5115.tablet
unittest/svgparse/data/isdv4-5122.tablet
unittest/svgparse/data/isdv4-5128.tablet
unittest/svgparse/data/isdv4-5144.tablet
unittest/svgparse/data/isdv4-5146.tablet
unittest/svgparse/data/isdv4-5147.tablet
unittest/svgparse/data/isdv4-5148.tablet
unittest/svgparse/data/isdv4-5150.tablet
unittest/svgparse/data/isdv4-5155.tablet
unittest/svgparse/data/isdv4-5157.tablet
unittest/svgparse/data/isdv4-5158.tablet
unittest/svgparse/data/isdv4-5159.tablet
unittest/svgparse/data/isdv4-5169.tablet
unittest/svgparse/data/isdv4-5196.tablet
unittest/svgparse/data/isdv4-5202.tablet
unittest/svgparse/data/isdv4-5204.tablet
unittest/svgparse/data/isdv4-5215.tablet
unittest/svgparse/data/isdv4-5216.tablet
unittest/svgparse/data/isdv4-5218.tablet
unittest/svgparse/data/isdv4-5220.tablet
unittest/svgparse/data/isdv4-5221.tablet
unittest/svgparse/data/isdv4-5222.tablet
unittest/svgparse/data/isdv4-5229.tablet
unittest/svgparse/data/isdv4-5256.tablet
unittest/svgparse/data/isdv4-5276.tablet
unittest/svgparse/data/isdv4-5277.tablet
unittest/svgparse/data/isdv4-5278.tablet
unittest/svgparse/data/isdv4-5279.tablet
unittest/svgparse/data/isdv4-5285.tablet
unittest/svgparse/data/isdv4-5286.tablet
unittest/svgparse/data/isdv4-e2.tablet
unittest/svgparse/data/isdv4-e3.tablet
unittest/svgparse/data/isdv4-e5.tablet
unittest/svgparse/data/isdv4-e6.tablet
unittest/svgparse/data/isdv4-ec.tablet
unittest/svgparse/data/isdv4-ed.tablet
unittest/svgparse/data/isdv4-ef.tablet
unittest/svgparse/data/kamvas-pro-13.tablet
unittest/svgparse/data/letsketch-wp9620.tablet
unittest/svgparse/data/libwacom.stylus
unittest/svgparse/data/mobilestudio-pro-13-2.tablet
unittest/svgparse/data/mobilestudio-pro-13.tablet
unittest/svgparse/data/mobilestudio-pro-16-2.tablet
unittest/svgparse/data/mobilestudio-pro-16-3.tablet
unittest/svgparse/data/mobilestudio-pro-16.tablet
unittest/svgparse/data/n-trig-pen.tablet
unittest/svgparse/data/one-by-wacom-m-p.tablet
unittest/svgparse/data/one-by-wacom-m-p2.tablet
unittest/svgparse/data/one-by-wacom-s-p.tablet
unittest/svgparse/data/one-by-wacom-s-p2.tablet
unittest/svgparse/data/serial-wacf004.tablet
unittest/svgparse/data/surface-go-2.tablet
unittest/svgparse/data/surface-go.tablet
unittest/svgparse/data/volito-4x5.tablet
unittest/svgparse/data/wacom-hid-52fa-pen.tablet
unittest/svgparse/data/wacom-one.tablet
unittest/svgparse/data/wacom.example
unittest/svgparse/data/waltop-slim-tablet-12-1.tablet
unittest/svgparse/data/xp-pen-artist12.tablet
unittest/svgparse/data/xp-pen-deco-l.tablet
unittest/svgparse/data/xp-pen-deco-mw.tablet
unittest/svgparse/data/xp-pen-deco-pro-mw.tablet
unittest/svgparse/data/xp-pen-deco-pro-sw.tablet
unittest/svgparse/data/xp-pen-deco01-v2.tablet
unittest/svgparse/data/xp-pen-g430.tablet
unittest/svgparse/data/xp-pen-g640.tablet
unittest/svgparse/data/xp-pen-star03.tablet
unittest/svgparse/data/layouts/bamboo-0fg-s-p-alt.svg
unittest/svgparse/data/layouts/bamboo-0fg-s-p.svg
unittest/svgparse/data/layouts/bamboo-2fg-fun-m-pt.svg
unittest/svgparse/data/layouts/bamboo-2fg-fun-s-pt.svg
unittest/svgparse/data/layouts/bamboo-2fg-s-pt.svg
unittest/svgparse/data/layouts/bamboo-2fg-s-t.svg
unittest/svgparse/data/layouts/bamboo-4fg-fun-m-pt.svg
unittest/svgparse/data/layouts/bamboo-4fg-fun-s-pt.svg
unittest/svgparse/data/layouts/bamboo-4fg-s-pt.svg
unittest/svgparse/data/layouts/bamboo-4fg-s-t.svg
unittest/svgparse/data/layouts/bamboo-4fg-se-m-pt.svg
unittest/svgparse/data/layouts/bamboo-4fg-se-s-pt.svg
unittest/svgparse/data/layouts/bamboo-16fg-m-pt.svg
unittest/svgparse/data/layouts/bamboo-16fg-s-pt.svg
unittest/svgparse/data/layouts/bamboo-16fg-s-t.svg
unittest/svgparse/data/layouts/bamboo-pad.svg
unittest/svgparse/data/layouts/cintiq-12wx.svg
unittest/svgparse/data/layouts/cintiq-13hd.svg
unittest/svgparse/data/layouts/cintiq-20wsx.svg
unittest/svgparse/data/layouts/cintiq-21ux.svg
unittest/svgparse/data/layouts/cintiq-21ux2.svg
unittest/svgparse/data/layouts/cintiq-22hd.svg
unittest/svgparse/data/layouts/cintiq-24hd.svg
unittest/svgparse/data/layouts/cintiq-companion-2.svg
unittest/svgparse/data/layouts/cintiq-companion-hybrid.svg
unittest/svgparse/data/layouts/cintiq-companion.svg
unittest/svgparse/data/layouts/cintiq-pro-16-2.svg
unittest/svgparse/data/layouts/cintiq-pro-27.svg
unittest/svgparse/data/layouts/dth-2242.svg
unittest/svgparse/data/layouts/dth-2452.svg
unittest/svgparse/data/layouts/dti-520.svg
unittest/svgparse/data/layouts/dtk-1651.svg
unittest/svgparse/data/layouts/dtk-2451.svg
unittest/svgparse/data/layouts/dtu-1031.svg
unittest/svgparse/data/layouts/dtu-1141.svg
unittest/svgparse/data/layouts/dtu-1141b.svg
unittest/svgparse/data/layouts/ek-remote.svg
unittest/svgparse/data/layouts/gaomon-s620.svg
unittest/svgparse/data/layouts/graphire-wireless-8x6.svg
unittest/svgparse/data/layouts/graphire4-4x5.svg
unittest/svgparse/data/layouts/graphire4-6x8.svg
unittest/svgparse/data/layouts/huion-h420.svg
unittest/svgparse/data/layouts/huion-h610-pro.svg
unittest/svgparse/data/layouts/huion-h640p.svg
unittest/svgparse/data/layouts/huion-h950p.svg
unittest/svgparse/data/layouts/huion-h1060p.svg
unittest/svgparse/data/layouts/huion-hs611.svg
unittest/svgparse/data/layouts/huion-kamvas-13.svg
unittest/svgparse/data/layouts/huion-new-1060-plus.svg
unittest/svgparse/data/layouts/intuos-m-p.svg
unittest/svgparse/data/layouts/intuos-m-p2.svg
unittest/svgparse/data/layouts/intuos-m-p3.svg
unittest/svgparse/data/layouts/intuos-m-pt.svg
unittest/svgparse/data/layouts/intuos-m-pt2.svg
unittest/svgparse/data/layouts/intuos-pro-2-l.svg
unittest/svgparse/data/layouts/intuos-pro-2-m.svg
unittest/svgparse/data/layouts/intuos-pro-2-s.svg
unittest/svgparse/data/layouts/intuos-pro-l.svg
unittest/svgparse/data/layouts/intuos-pro-m.svg
unittest/svgparse/data/layouts/intuos-pro-s.svg
unittest/svgparse/data/layouts/intuos-s-p.svg
unittest/svgparse/data/layouts/intuos-s-p2.svg
unittest/svgparse/data/layouts/intuos-s-p3.svg
unittest/svgparse/data/layouts/intuos-s-pt.svg
unittest/svgparse/data/layouts/intuos-s-pt2.svg
unittest/svgparse/data/layouts/intuos3-4x5.svg
unittest/svgparse/data/layouts/intuos3-4x6.svg
unittest/svgparse/data/layouts/intuos3-6x8.svg
unittest/svgparse/data/layouts/intuos3-6x11.svg
unittest/svgparse/data/layouts/intuos3-9x12.svg
unittest/svgparse/data/layouts/intuos3-12x12.svg
unittest/svgparse/data/layouts/intuos3-12x19.svg
unittest/svgparse/data/layouts/intuos4-4x6.svg
unittest/svgparse/data/layouts/intuos4-6x9-wl.svg
unittest/svgparse/data/layouts/intuos4-6x9.svg
unittest/svgparse/data/layouts/intuos4-8x13.svg
unittest/svgparse/data/layouts/intuos4-12x19.svg
unittest/svgparse/data/layouts/intuos5-l.svg
unittest/svgparse/data/layouts/intuos5-m.svg
unittest/svgparse/data/layouts/intuos5-s.svg
unittest/svgparse/data/layouts/kamvas-pro-13.svg
unittest/svgparse/data/layouts/mobilestudio-pro-13.svg
unittest/svgparse/data/layouts/mobilestudio-pro-16.svg
unittest/svgparse/data/layouts/README.md
unittest/svgparse/data/layouts/xp-pen-artist12.svg
unittest/svgparse/data/layouts/xp-pen-deco-l.svg
unittest/svgparse/data/layouts/xp-pen-deco-mw.svg
unittest/svgparse/data/layouts/xp-pen-deco-pro-s-m-sw-mw.svg
unittest/svgparse/data/layouts/xp-pen-deco01-v2.svg
unittest/svgparse/data/layouts/xp-pen-star03.svg
