#
# 'service' called from udev rule (99-wacom-gui.rules) to load
# user Wacom tablet settings
#
[Unit]
Description=Load user settings for Wacom tablets

[Service]
Type=simple
ExecStart=/usr/local/wacom-gui/wacom-gui-rules.sh
