[Desktop Entry]
# Translators: Add soft hyphens to your translations so that the icon view won't clip your translations. See https://bugzilla.gnome.org/show_bug.cgi?id=647087#c13 for details
Name=Wa­com Tab­let
Name[ar]=لوح واكوم
Name[bg]=Таб­лет
Name[ca]=Tauleta gràfica Wacom
Name[cs]=Tablet Wacom
Name[da]=Wa­com-tegne­plade
Name[de]=Wacom-Tablets
Name[el]=Wacom Tablet
Name[en_GB]=Wa­com Tab­let
Name[es]=Tableta Wacom
Name[eu]=Wacom taula
Name[fa]=تبلت Wacom
Name[fi]=Wacom-piirtopöytä
Name[fr]=Ta­blet­te Wa­com
Name[fur]=Tau­lu­te­ ­Wa­com
Name[gd]=Tablaid Wacom
Name[gl]=Tableta Wacom
Name[he]=לוח מגע
Name[hr]=Wa­com tab­let
Name[hu]=Wa­com rajz­táb­la
Name[id]=Tablet Wacom
Name[is]=Wa­com teiknitaf­la
Name[it]=Tavoletta Wacom
Name[kk]=Wa­com план­шеті
Name[ko]=와콤 디지타이저
Name[lt]=Wacom planšetė
Name[lv]=Wacom plan­še­te
Name[nb]=Wacom pekeplate
Name[nl]=Wacom­-tablet
Name[oc]=Tauleta  Wacom
Name[pa]=ਵਾਕੋਮ ਟੇਬਲੇਟ
Name[pl]=Ta­blet fir­my Wa­com
Name[pt]=Tablet Wacom
Name[pt_BR]=Tablet Wacom
Name[ru]=Планшет Wacom
Name[sk]=Tablet Wacom
Name[sr]=Ваком таблица
Name[sr@latin]=Vakom tablica
Name[sv]=Wa­com-rit­platt­a
Name[th]=แท็บ­เล็ต Wa­com
Name[tr]=Wacom Tablet
Name[uk]=Планшет Wacom
Name[vi]=Bảng vẽ Wacom
Name[zh_CN]=Wacom 手写板
Name[zh_TW]=Wa-com 繪圖板
Comment=Set button mappings and adjust stylus sensitivity for graphics tablets
Comment[an]=Establir o mapiau de botons y achustar a sensibilidat d'o lapiz ta tabletas graficas
Comment[ar]=اضبط استخدام أزرار و حساسية قلم ألواح الرسوميات
Comment[as]=বুটাম মেপিংসমূহ চাওক আৰু গ্ৰাফিক্স টেবলেটসমূহৰ বাবে স্টাইলাচ সংবেদনশীলতা নিয়ন্ত্ৰণ কৰক
Comment[be]=Настройка кнопак і чуласці стыла графічных планшэтаў
Comment[bg]=Присвояване на функции на бутоните на графичния таблет и управление на чувствителността на писалката
Comment[bn_IN]=বোতাম ম্যাপিং সেট করুন এবং গ্র্যাফিক্স ট্যাবলেটের জন্য স্টাইলাস সংবেদনশীলতা সামঞ্জস্যপূর্ণ করুন
Comment[bs]=Postavi mapiranje dugmetom i namjesti stylus osjetljivost za grafičke tabele.
Comment[ca]=Establiu el mapa de botons i ajusteu la sensibilitat de l'estilogràfica per a tauletes gràfiques
Comment[ca@valencia]=Establiu el mapa de botons i ajusteu la sensibilitat de l'estilogràfica per a tauletes gràfiques
Comment[cs]=Nastavit mapování tlačítek a přizpůsobit citlivost grafických tabletů
Comment[da]=Angiv tasteafbildninger og justér følsomhed for digital pen til grafik-tavle-pc'er
Comment[de]=Knopfzuordnung einstellen und die Empfindlichkeit des Stiftes für Grafiktabletts einstellen
Comment[el]=Ορίστε τα κουμπιά και ρυθμίστε την ευαισθησία γραφίδας stylus για ταμπλέτες γραφικών
Comment[en_GB]=Set button mappings and adjust stylus sensitivity for graphics tablets
Comment[es]=Establecer el mapeado de botones y ajustar la sensibilidad del lápiz para tabletas gráficas
Comment[et]=Digitaallaudade nuppude vastavuse ja kirjapulga tundlikkuse muutmine
Comment[eu]=Ezarri botoi-mapatzea eta doitu arkatzaren sentikortasuna taula grafikoentzako
Comment[fa]=تنظیم هدایت کلیدها و تنظیم حساسیت قلم برای تبلت‌های گرافیکی
Comment[fi]=Aseta piirtopöydän painikkeet ja kynän herkkyys
Comment[fr]=Associer les boutons et ajuster la sensibilité du stylet des tablettes graphiques
Comment[fur]=Imposte la mapadure dai botons e juste la sensibilitât de pene pe taulutis grafichis.
Comment[gd]=Suidhich mapadh nam putanan is cuir air gleus mothalachd an staidhleis airson tablaidean grafaigeachd
Comment[gl]=Estabeleza a asignación de botóns e axuste a sensibilidade do seu bolígrafo dixital nas tabletas gráficas
Comment[gu]=બટન મેપીંગને સુયોજિત કરો અને ગ્રાફિક્સ ટૅબલેટ માટે સ્ટાયલસ સંવેદનશીલતાને ગોઠવો
Comment[he]=הגדרת מיפויי כפתור והתאמת רגישות עט עבור לוח ציור
Comment[hi]=बटन मैपिंग सेट और ग्राफिक्स गोलियाँ के लिए स्टाइलस संवेदनशीलता को समायोजित
Comment[hr]=Postavi tipke mapiranja i prilagodi osjetljivost igle grafičkih tableta
Comment[hu]=Rajztáblák gombleképezéseinek beállítása és a stylus érzékenységének módosítása
Comment[id]=Tata pemetaan tombol dan atur kepekaan stylus bagi tablet grafis
Comment[is]=Stilltu hnappavörpun og aðlagaðu næmni snertipenna fyrir teikniborð
Comment[it]=Imposta la mappatura dei pulsanti e regola la sensibilità del pennino per tavolette grafiche
Comment[ja]=グラフィックスタブレットのボタン割り当てやスタイラスの感度の設定をします。
Comment[kk]=Графикалық планшеттер үшін батырмалар сәйкестіктерін және стилус сезімталдылығын баптау
Comment[kn]=ಗ್ರಾಫಿಕ್ಸ್ ಟ್ಯಾಬ್ಲೆಟ್‌ಗಳಿಗಾಗಿ ಗುಂಡಿಯ ಮ್ಯಾಪಿಂಗ್ ಅನ್ನು ಹೊಂದಿಸಿ ಮತ್ತು ಸ್ಟೈಲಸ್ ಸಂವೇದಿಸೂಕ್ಷ್ಮತೆಯನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=그래픽 디지타이저의 단추 매핑을 설정하고 스타일러스의 민감도를 조정합니다
Comment[lt]=Nustatykite mygtukų susiejimus ir pritaikykite pieštuko jautrumą grafinėms planšetėms
Comment[lv]=Iestatiet pogu attēlojumus un pielāgojiet irbuļa jutīgumu grafikas planšetēm
Comment[ml]=ബട്ടണ്‍ മാപ്പിങ്ങും ഗ്രാഫിക്സ് റ്റാബ്ലറ്റിലെ സ്റ്റൈലസ് ക്രമീകരണങ്ങളും മാറ്റുക
Comment[mr]=ग्राफिक्स टॅबलेट्सकरिता बटन मॅपिंग्ज ठरवा आणि स्टाइलस संवेदनशीलता आयोजीत करा
Comment[nb]=Tilordne knapper og juster følsomhet for penn for grafiske tegnebrett
Comment[nl]=Knoptoewijzingen instellen en gevoeligheid van stylus voor  grafische tabletten aanpassen
Comment[oc]=Associar los botons e ajustar la sensibilitat de l'estilet de las tauleta s graficas
Comment[or]=ଆଲେଖିକ ଟ୍ୟାବଲେଟ ପାଇଁ ବଟନ ମ୍ୟାପିଙ୍ଗକୁ ସେଟ କରନ୍ତୁ ଏବଂ ସମ୍ବେଦନଶୀଳ ଶୈଳୀକୁ ସଜାଡ଼ନ୍ତୁ
Comment[pa]=ਗਰਾਫਿਕਸ ਟੇਬਲਟ ਲਈ ਬਟਨ ਮਿਲਾਨ ਕਰੋ ਅਤੇ ਸਟਾਇਲਸ ਸੰਵੇਦਨਸ਼ੀਲਤਾ ਅਡਜੱਸਟ ਕਰੋ
Comment[pl]=Ustawienie mapowania przycisków i dostosowanie wrażliwości rysika dla tabletów graficznych
Comment[pt]=Ver o mapeamento dos botões e ajustar a sensibilidade do estilo de tablets gráficos
Comment[pt_BR]=Defina mapeamentos de botão e ajuste a sensibilidade de estilo para tablets
Comment[ro]=Configurează funcțiile butoanelor și ajustează sensibilitatea creionului pentru tablete grafice
Comment[ru]=Установка отображения кнопок и настройка чувствительности пера для графических планшетов
Comment[sk]=Nastavuje mapovanie tlačidiel a upravuje citlivosť pera grafických tabletov
Comment[sl]=Nastavitev preslikave gumbov in prilagoditev občutljivosti paličice grafične tablice
Comment[sr]=подесите мапирање дугмета и подесите осетљивост оловке графичких таблица
Comment[sr@latin]=podesite mapiranje dugmeta i podesite osetljivost olovke grafičkih tablica
Comment[sv]=Ställ in knappkopplingar och justera styluspennkänsligheten för ritplattor
Comment[ta]=கிராஃபிக்ஸ் டாப்ளெட்டுகளுக்கு பொத்தான் இணைப்புகளை அமைத்து ஸ்டைலஸின் உணர்திறனை சரிசெய்யவும்
Comment[te]=గ్రాఫిక్స్ టాబ్లెట్ల కొరకు బటన్ మాపింగ్ మరియు స్టైలస్ సున్నితత్వం సర్దుబాటు చేయును
Comment[tg]=Таъин кардани нақшабандиҳои тугмаҳо ва танзим кардани ҳассосияти қалам барои планшетҳои графикӣ
Comment[th]=ตั้งผังปุ่มและปรับความไวของสไตลัสสำหรับแท็บเล็ตกราฟิก
Comment[tr]=Düğme eşlemelerini ve grafik tabletler için kalem hassasiyetini ayarlayın
Comment[uk]=Вкажіть відбиття кнопок і скоригуйте чутливість стилуса для графічних планшетів
Comment[vi]=Đặt ảnh của nút và sửa kiểu dáng cho thích hợp dành cho bảng đồ họa
Comment[zh_CN]=为绘图用平板设备设置按键映射并调整触摸笔灵敏度
Comment[zh_HK]=設定繪圖板的按鈕對映與調整觸控筆的靈敏度
Comment[zh_TW]=設定繪圖板的按鈕對映與調整觸控筆的靈敏度
Exec=/usr/local/bin/wacom-gui
Icon=/usr/local/wacom-gui/images/wacom-gui.png
Terminal=false
Type=Application
NoDisplay=false
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=MATE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=wacom
X-GNOME-Bugzilla-Version=3.22.2
# Translators: those are keywords for the wacom tablet control-center panel
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[af]=Tablet;Wacom;Stylus;Eraser;Mouse;uitveër;muis;
Keywords[an]=Tableta;Wacom;Stylus;Borrador;Rato;
Keywords[ar]=لوحة;واكوم;قلم;ممحاة;فأرة;
Keywords[as]=টেবলেট;Wacom;স্টাইলাচ;ইৰেজাৰ;মাউছ;
Keywords[ast]=Tablet;Wacom;Llápiz;Borrador;Mur;
Keywords[be]=Планшэт;Wacom;Стыло;Сцірка;Мыш;
Keywords[bg]=таблет;уаком;писалка;гума;мишка;tablet;wacom;stylus;eraser;mouse;
Keywords[bn_IN]=ট্যাবলেট;Wacom;স্টাইলাস;ইরেজার;মাউস;
Keywords[bs]=Tablet;Wacom;Olovka;Gumica;Miš;
Keywords[ca]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[ca@valencia]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[crh]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[cs]=tablet;Wacom;stalus;pero;eraser;guma;myš;
Keywords[da]=Tegneplade;Wacom;Pen;Viskelæder;Mus;
Keywords[de]=Tablett;Wacom;Stylus;Radiergummi;Maus;
Keywords[el]=Ταμπλέτα;Wacom;Γραφίδα (Stylus);Σβήστρα (Eraser);Ποντίκι;
Keywords[en_GB]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[eo]=Tabuleto;Wacom;Grifelo;Gumo;Muso;
Keywords[es]=Tableta;Wacom;Stylus;Borrador;Ratón;
Keywords[et]=Tablet;Digitaallaud;Wacom;Stylus;Stiilus;Kirjapulk;Kustutaja;Kustukumm;Hiir
Keywords[eu]=Taula;Wacom;Estiloa;Borragoma;Sagua;
Keywords[fa]=تبلت;Wacom;Stylus;Eraser;موشی;
Keywords[fi]=Piirtopöytä;Wacom;Stylus;Eraser;Hiiri;Tablet;Mouse;
Keywords[fr]=Tablette;Wacom;Stylet;Gomme;Souris;
Keywords[fur]=Tablet;Wacom;Stylus;Eraser;Mouse;Taulete;Pene;Gome;
Keywords[ga]=Táibléad;Wacom;Stíleas;Scriosán;Luch;
Keywords[gd]=Tablaid;Wacom;Staidhleas;Suathan:Luchag;
Keywords[gl]=Tableta;Wacom;Stylus;Borrador;Rato;
Keywords[gu]=ટૅબલેટ;Wacom;સ્ટાયલસ;ઇરૅજર;માઉસ;
Keywords[he]=לוח;Wacom;עט מגע;מחק;מוחק;עכבר;משטח מגע;לוח מגע; מגע;
Keywords[hi]=टैब्लेट;Wacom;लेखनी;इरेज़र;माउस;
Keywords[hr]=Tablet;Wacom;Stylus;Gumica;Miš;
Keywords[hu]=Tablet;Rajztábla;Wacom;Stylus;Toll;Eraser;Radír;Egér;
Keywords[id]=Tablet;Wacom;Stylus;Penghapus;Tetikus;
Keywords[is]=Teiknitafla;Wacom;Penni;Teikna;Mús;
Keywords[it]=Tablet;Wacom;Stylus;Eraser;Mouse;Tavoletta;Penna;Gomma;
Keywords[ja]=Tablet;Wacom;Stylus;Eraser;Mouse;タブレット;スタイラスペン;ペン;消しゴム;マウス;
Keywords[kk]=Планшет;Wacom;Стилус;Өшіргіш;Тышқан;
Keywords[km]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[kn]=ಟ್ಯಾಬ್ಲೆಟ್;ವೇಕಾಮ್;ಸ್ಟೈಲಸ್;ಉಜ್ಜುಗ;ಮೌಸ್;
Keywords[ko]=Tablet;태블릿;디지타이저;Wacom;와콤;Stylus;스타일러스;Eraser;지우개;Mouse;마우스;
Keywords[lt]=Planšetė;Wacom;Rašiklis;Trintukas;Pelė;
Keywords[lv]=Planšete;Wacom;Irbulis;Dzēšgumija;Pele;Tablet;Stylus;Eraser;Mouse;
Keywords[mk]=Таблет;Wacom;Stylus;Бришач;Глушец;
Keywords[ml]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[mr]=टॅबलेट;वॅकॉम;स्टायलस;इरेजर;माऊस;
Keywords[nb]=Tegnebrett;Wacom;Stylus;Viskelær;Mus;
Keywords[nl]=Tablet;Wacom;Stylus;Eraser;Mouse;Tekenen;Gum;Muis;
Keywords[oc]=Tauleta ;Wacom;Stylet;Goma;Mirga;
Keywords[or]=ଟେବଲ;ୱାକମ;ଶୈଳୀମୟ;ଲିଭାଳି;ମାଉସ;
Keywords[pa]=Tablet;Wacom;Stylus;Eraser;Mouse;ਟੇਬਲੇਟ;
Keywords[pl]=Tablet;Wacom;Rysik;Stylus;Gumka;Mysz;Myszka;
Keywords[pt]=Tablet;Wacom;Caneta;Stylus;Borracha;Rato;
Keywords[pt_BR]=Tablet;Wacom;Caneta;Borracha;Mouse;
Keywords[ro]=Tabletă;Wacom;Stylus;Radieră;Mouse;Maus;Creion;Stilou;
Keywords[ru]=Планшет;Wacom;Перо;Ластик;Мышь;
Keywords[sk]=Tablet;Wacom;Stylus;Pero;Guma;Myš;
Keywords[sl]=Tablica;Wacom;Stylus;Eraser;Miška;
Keywords[sr]=таблица;ваком;пенкало;брисач;миш;
Keywords[sr@latin]=tablica;vakom;penkalo;brisač;miš;
Keywords[sv]=Ritplatta;Wacom;Styluspenna;Raderare;Mus;
Keywords[ta]=தொடுதட்டு;வாகாம்;எழுத்தாணி;துடைப்பி;சொடுக்கி;
Keywords[te]=ట్యాబ్లెట్;వాకం;శ్టైలస్;ఇరేసర్;మౌజ్;
Keywords[tg]=Планшет;Wacom;Қалам;Тозакунак;Муш;
Keywords[th]=แท็บเล็ต;Wacom;ปากกา;สไตลัส;ยางลบ;เมาส์;
Keywords[tr]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[ug]=Tablet;Wacom;قەلەم;ئۆچۈرگۈچ;چاشقىنەك;
Keywords[uk]=Планшет;Wacom;Стилус;Гумка;Миша;
Keywords[vi]=Tablet;Bảng;bang;Wacom;Stylus;Bút;trỏ;but;tro;Eraser;Tẩy;Tay;Mouse;Chuột;Chuot;
Keywords[zh_CN]=Tablet;Wacom;Stylus;Eraser;Mouse;手写板;手写板;写字笔;擦除器;鼠标;
Keywords[zh_HK]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
Keywords[zh_TW]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
X-Desktop-File-Install-Version=0.23
